<br><br><br>
<div class="container panel panel-default" style="width: 45%">

<%= render 'form' %>

<%= link_to dishes_path do%><span class="fa fa-chevron-circle-left fa-fw"></span><% end %> |
<%= link_to @dish do%><span class="fa fa-folder-open fa-fw"></span><% end %> 
