<br><br>
<div class="container panel panel-default" style="width: 40%">
<%= render 'form' %>

<div class="btn btn-default btn-sm">
	<%= link_to dishes_path do%> <span class="fa fa-chevron-circle-left fa-fw"></span> <% end %>
</div>
</div>
