<%= render 'shared/navbar' %>
<p id="notice"><%= notice  %></p>

<div class="container panel panel-default" style="width: 40%">
	<table class="table">
		<tr>
			<th>Order Item</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>