// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-header{
	background-color: #e6edf9;
}

.form-striped > tbody > tr:nth-of-type(even) {
  background: rgba(230,237,249, .4);
}

.truncate{
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}
