// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-header{
	background-color: #e6edf9;
}

.form-striped > tbody > tr:nth-of-type(even) {
  background: rgba(230,237,249, .6);
}
 .action{
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
 }

 .img{
 	margin: 0px 0px 15px 15px;
 }

 .success{
 	font-size: 14px;
 	text-align: center;
 }

.red{
	color: red;
}

.comment-border {
  border-bottom-style:  dotted;
  width: 95%;
}

.register-border {
  border-top-style:  dotted;
  width: 95%;
}

.right {
  text-align: right;
}